@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'inter', sans-serif;
    width: 100dvw;
    background-color: #dfdff0;
    overflow-x: hidden;
}

@layer base {
    @font-face {
        font-family: 'inter';
        src: url('/client/Public/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf') format('ttf');
    }
    @font-face {
        font-family: 'Lato';
        src: url('/client/Public/fonts/Lato/Lato-Black.ttf') format('ttf');
    }
    @font-face {
        font-family: 'Merriweather';
        src: url('/client//Public/fonts/Merriweather_Sans/MerriweatherSans-VariableFont_wght.ttf') format('ttf');
    }
    @font-face {
        font-family: 'Open_Sans';
        src: url('/client/Public/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf') format('ttf');
    }
    @font-face {
        font-family: 'DM_Sans';
        src: url('/client/Public/fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf') format('ttf');
    }
}

@layer utilities{
    .mask-clip-path {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .special-font b {
        font-family: 'Open-sans', sans-serif;
        font-feature-settings: "ss01" on;
    }
}