@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    width: 100dvw;
}

@layer utilities{
    .mask-clip-path {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .special-font b {
        font-family: 'Open-sans', sans-serif;
        font-feature-settings: "ss01" on;
    }
}